.page-header.navbar.navbar-fixed-top
    .page-header-inner.container
        .page-logo
            a.logo-mark(href='#')
                img.logo-default(src='/images/awg-mark-white.png', alt='logo')
            a.logo-text(href='#')
                img.logo-text(src='/images/awg-logo-white.png', alt='arewegood')
        .page-top
            .top-menu
                ul.nav.navbar-nav.pull-right
                    li.single
                        a.single-login(href='/login') Log In