.page-sidebar-wrapper
    .page-sidebar.navbar-collapse.collapse
        ul.page-sidebar-menu.page-sidebar-menu-hover-submenu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
            li.start.active
                a(href='#')
                    i.icon-home
                    span.selected
            li
                a(href='#')
                    i.icon-rocket
                    span.arrow
                ul.sub-menu
                    li
                        a(href='#') Lorem Ipsum
                    li
                        a(href='#') Lorem Ipsum
                    li
                        a(href='#') Lorem Ipsum
            li
                a(href='#')
                    i.icon-rocket
                    span.arrow
                ul.sub-menu
                    li
                        a(href='#') Lorem Ipsum
                    li
                        a(href='#') Lorem Ipsum
                    li
                        a(href='#') Lorem Ipsum