extends layout

block content
    .row.marketing
        .col-lg-6
            h4 HTML5 Boilerplate
            p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

            h4 Sass
            p Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.