/* Constants */
$font-stack: Helvetica, Arial, sans-serif;

/* Fonts */
@import url(//fonts.googleapis.com/css?family=Comfortaa);

/* literally all of this is going to be thrown out after the demo */
body {
  background-color: #107360;
    font-family: $font-stack;
    .transparent-bkg {
        background: none !important; 
    }
    .header {
        padding: 20px 75px;
        background-color: #16a085;
        
        .logo-parent {
            height: 90px;
            padding-top: 38px;
            padding-bottom: 38px;
            padding-left: 8px;
            padding-right: 8px;
            background-color: #ffffff;
        }

        .mark {
            height: 50px;
        }

        .logo {
            height: 40px;
            padding: 5px 10px;
        }

        button {
            position: relative;
            float: right;
            width: 100px;
            height: 45px;
            padding: 0;
            font-size: 20px;
            color: white;
            text-align: center;
            background: #16a085;
            border: 0;
            cursor: pointer;

            &:active {
                top: 1px;
            }
        }
    }
    
    .containerz {
      background-color: #f4f4f4;
      padding: 16px;
      margin-right: 0px;
      margin-left: 75px;
        .content {
            min-height: 500px;
            clear: both;
            
            .user {
              display: inline-block;
              img {
                height: 150px;
                width: 150px;
                border-radius: 8px;
              }
              .info {
                margin: 4px;
                font-size: 18px;
                font-family: "lato", Arial;
                color: #808080;
              }
            }
            
            .repos {
              display: inline-block;
            }

            h1, h4 {
                color: #16a085;
            }
            h4 {
                font-size: 20px;
                margin: 20px 0 0;
                display: inline-block;
            }
            .profile-link {
              
            }
            .userd, .key {
                width: auto;
                img {
                    height: 150px;
                    width: 150px;
                    border-radius: 8px;
                }

                .info {
                    margin-left: 175px;

                    p {
                        font-size: 15px;
                    }
                }
            }

            .dataTables_wrapper {
                margin-top: 15px;
            }

            .repositories, .logs {
                margin: 5px 0 30px 20px;
                font-size: 15px;

                table {
                    margin-top: 10px;   
                }

                
            }
        }

        .footer {
            color: #777;
            border-top: 1px solid #e5e5e5;
        }
    }
}