/* Constants */
$font-stack: Helvetica, Arial, sans-serif;

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Comfortaa);

body {
    font-family: $font-stack;

    .container {
        .header {
            padding: 20px 0;
            border-bottom: 1px solid #e5e5e5;

            .mark {
                height: 50px;
                background: none;
            }

            .logo {
                height: 40px;
                padding: 5px 10px;
            }

            button {
                position: relative;
                float: right;
                width: 100px;
                height: 45px;
                padding: 0;
                font-size: 20px;
                color: white;
                text-align: center;
                background: #16a085;
                border: 0;
                cursor: pointer;

                &:active {
                    top: 1px;
                }
            }
        }

        h4 {
            font-size: 20px;
            color: #16a085;
            margin: 10px 0 0;
        }
        h4 + div {
            margin: 5px 0 30px 20px;
        }

        .dataTables_filter {
            text-align: center;
        }

        .footer {
            color: #777;
            margin-top: 150px;
            border-top: 1px solid #e5e5e5;
        }
    }
}