doctype html
html
    head
        meta(charset='utf-8')
        title arewegood
        meta(name='description' content='arewegood is a realtime error handling and uptime platform for web services and apps that matter to you.')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        block extStyles
            link(rel='stylesheet' href='//ajax.aspnetcdn.com/ajax/bootstrap/3.3.1/css/bootstrap.min.css')
            link(rel='stylesheet' href='//code.jquery.com/ui/1.11.3/themes/flick/jquery-ui.css')

        block intStyles
            link(rel='stylesheet' href='/styles/arewegood.min.css')

    body
        .container
            .header
                a(href="/")
                    img(class="mark", src="/images/arewegood_header_mark.png")/
                    img(class="logo", src="/images/arewegood_header_logo.png")/
                if !user || !user._id
                    a(href="/login")
                        button().
                            Sign In
                else
                    a(href="/logout")
                        button().
                            Sign Out

            block content

            .footer
                p Made with ♥ by the hashtag-include team

        block extScripts
            script(src='//ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js')
            script(src='//ajax.aspnetcdn.com/ajax/jquery.ui/1.11.3/jquery-ui.min.js')
            script(src='//ajax.aspnetcdn.com/ajax/bootstrap/3.3.1/bootstrap.min.js')

        block intScripts
            script(src='/scripts/arewegood.min.js')