doctype html
html
    head
        meta(charset='utf-8')
        title
            block title
                | arewegood
        meta(name='description' content='arewegood is a realtime error handling and uptime platform for web services and apps that matter to you.')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        block styles
            link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
            link(href='/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
            link(href='/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
            link(href='/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
            link(href='/plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')
            link(href='/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
            link(href='http://fonts.googleapis.com/css?family=Lato|Montserrat' rel='stylesheet')
        link(rel='stylesheet' href='/styles/theme.min.css')
        link(rel='stylesheet' href='/styles/arewegood.min.css')

    body.page-boxed.page-header-fixed.page-sidebar-closed-hide-logo.page-container-bg-solid.page-sidebar-closed
        block page-header
            include ./includes/header.jade
        .clearfix
        .container
            .page-container
                block page-sidebar
                    include ./includes/sidebar.jade
                block page-content
        block scripts
            script(src='/plugins/jquery.min.js', type='text/javascript')
            script(src='/plugins/jquery-migrate.min.js', type='text/javascript')
            // IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip
            script(src='/plugins/jquery-ui/jquery-ui.min.js', type='text/javascript')
            script(src='/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
            script(src='/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js', type='text/javascript')
            script(src='/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
            script(src='/plugins/jquery.blockui.min.js', type='text/javascript')
            script(src='/plugins/jquery.cokie.min.js', type='text/javascript')
            script(src='/plugins/uniform/jquery.uniform.min.js', type='text/javascript')
            script(src='/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
        script(src='/scripts/theme.min.js')
        script(src='/scripts/arewegood.min.js')
        script.
            jQuery(document).ready(function() {
                Metronic.init();
                Layout.init();
            });