extends layout

block content
    h4 Add Repository
    div.addRepository

    h4 Repositories
    table.repositories
        for repository in user.repositories
            tr
                td.name #{repository.fullName}

block append intScripts
    script.
        new TrackRepository(!{availableRepositories}, 'div.addRepository').init();